@{
    ViewData["Title"] = "Page not found";

    Context.Response.StatusCode = 404;
}
<article class="page-not-found">
    <div class="jumbotron">
        <img src="/images/404.gif" alt="Page not found">
        <br><br>
        <em>Well, the page or article you are looking for seems not to be there anymore. Sorry for that.</em>
    </div>
</article>
