<div class="archive">
    <h1>Archives</h1>

    <div class="jumbotron">
        <p><em>Note:</em> This archive contains all of my articles published on this site. However,
        between the years 2004 and 2014 I have written a lot of stuff (most of it in German language), which can be
        found <a href="http://blog.thomasbandt.de/39/de/blog.html" target="_blank">here</a>.</p>
    </div>

    {{#each archive}}
        <h2>{{this.year}}</h2>
        <ul>
        {{#each this.posts}}
            <li><a href="{{postLink this.slug}}">{{this.title}}</a></li>
        {{/each}}
        </ul>
    {{/each}}
</div>

{{#section "pageTitle"}}Archives{{/section}}
{{#section "metaTags"}}<meta name="description" content="{{blog.description}}">{{/section}}
