<h1>Archive</h1>

{{#each archive}}
    <h2>{{this.year}}</h2>
    <ul>
    {{#each this.posts}}
        <li><a href="{{postLink this.slug}}">{{this.title}}</a></li>
    {{/each}}
    </ul>
{{/each}}

{{#section "pageTitle"}}Archive{{/section}}
{{#section "metaTags"}}<meta name="description" content="{{metadata.description}}">{{/section}}
