<h1>Contact</h1>

<div class="jumbotron">
    <p><em>German Efficiency first &mdash;</em> my
        <a href="{{routes.blog.imprint}}">Imprint</a> &amp;
        <a href="{{routes.blog.privacy}}">Privacy Statement</a>.</p>
</div>

<h2>Networking</h2>

<p>I love to get to know smart people. So, if you are in Munich
    and you think we should talk about something,
    let's just start with a coffee at lunchtime!</p>

<h2>Get in touch</h2>

<p>Dropping me a line on <a href="https://twitter.com/thomasbandt" target="_blank">Twitter</a>
    or via <a href="mailto:hello@thomasbandt.com">email</a> is the best way to
    connect.</p>

<p>If you're a recruiter with a specific proposal or
    you have a business related topic you want to bring up, you can also reach out on
    <a href="https://www.xing.com/profile/Thomas_Bandt2" target="_blank">XING</a>.</p>



{{#section "pageTitle"}}Contact{{/section}}
