<h1>Contact</h1>

<div class="jumbotron">
    <p><em>German efficiency:</em>
        <a href="{{routes.blog.imprint}}">Imprint</a> &amp;
        <a href="{{routes.blog.privacy}}">Privacy Statement</a>.</p>
</div>

{{#section "pageTitle"}}Contact{{/section}}
