.assets {
  .file-row {
    cursor: pointer;
  }

  fieldset {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  legend {
    font-size: 0.9em;
    border-bottom: solid 1px #34495e;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
  }

  .copy-url {
    width: 100%;
    border: none;
    background: transparent;
  }
  
  img {
    max-width: 100%;
    max-height: 150px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }
}