@import "_colors.scss";

.archive {
  a {
    color: $fontColor;
  }

  .date {
    font-style: italic;
    font-size: 14px
  }

  .jumbotron {
    padding: 25px 25px 10px 25px;

    a {
      text-decoration: underline;
    }
  }
}
