@import "_colors.scss";

.contact {
  .col-xs-6 {
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  .caption {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 15px 0 25px 0;
  }

  .row {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}