@import "_colors.scss";

.page-footer {
  hr {
    border-bottom: solid 2px $lightGray;
    width: 30px;
    padding: 0;
    margin-bottom: 5px;
  }

  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  color: $lightGray;

  margin: 50px 0 50px;

  a {
    color: $lightGray
  }
}
