@import "_colors.scss";

body {
  background: rgba(0, 0, 0, 0.03);
}

.hidden-on-desktop {
  display: block;
}

@media screen and (min-width: 567px) {
  .hidden-on-desktop {
    display: none;
  }
}

.blog-container {
  max-width: 720px;
  font-size: 20px;
  line-height: 30px;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;

  .jumbotron {
    padding: 25px 25px 10px 25px;

    a {
      text-decoration: underline;
      color: $fontColor;
    }
  }

  h1, h2 {
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: bold;

    &:a {
      color: black;
    }
  }

  h1 {
    font-size: 36px;
  }

  .lead {
    font-weight: 600;
  }

  .published {
    font-style: italic;
  }

  img {
    max-width: 100%;
  }

  @media screen and (max-width: 767px) {
    .lead {
      font-size: 18px;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 22px;
      line-height: 12px;
    }

    font-size: 18px;
    line-height: 25px;

    .jumbotron p {
      font-size: 18px;
    }
  }
}
