@import "_colors.scss";

.preview {
  a {
    color: $fontColor;
  }

  margin-bottom: 50px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.pager {
  margin: 50px 0 50px;
  color: $foreColor;

  a {
    color: $fontColor;
  }

  .pipe {
    display: inline-block;
    margin: 0 10px 0 10px;
  }
}