@import "_colors.scss";

.post-detail {
  a {
    color: $fontColor;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }

  pre {
    border: none;
    border-radius: 0;
    padding: 0;
  }

  code {
    display: block;
    border-radius: 0;
    padding: 15px;
    font-size: 16px;
    overflow: scroll;
    color: rgb(241, 241, 241);
    background-color: rgb(26, 26, 26);
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
  }

  .published {
    margin-top: -10px;
  }

  .comments {
    margin-top: 50px;
  }

  @media screen and (max-width: 767px) {
    .comments {
      margin-top: 25px;
    }
  }
}