.page-footer {
  text-align: center;
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  margin: 50px 0 50px; }
  .page-footer img {
    display: inline-block;
    width: 30px;
    margin-bottom: 5px;
    opacity: 0.8; }
  .page-footer a {
    color: #888888; }

header {
  position: relative;
  height: 200px;
  font-family: "Open Sans";
  color: #888888;
  line-height: 22px;
  margin-bottom: -15px; }
  header .header-content {
    display: table-cell;
    vertical-align: middle;
    height: 200px; }
    header .header-content .title {
      font-size: 14px;
      padding: 0;
      margin: 0;
      display: inline-block; }
    header .header-content strong {
      color: #565656; }
    header .header-content a {
      color: #888888;
      font-size: 16px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 5px 0 0;
      padding: 0; }
      header .header-content a:last-of-type {
        margin-right: 0; }
      header .header-content a.active {
        color: black; }
      header .header-content a:hover {
        color: black;
        text-decoration: none; }
  header img {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100px !important; }
  @media screen and (max-width: 567px) {
    header {
      width: 100%;
      height: 80px;
      text-align: center;
      display: table;
      padding-top: 100px;
      margin-bottom: -20px; }
      header .header-content {
        width: 100%;
        height: 160px; }
        header .header-content .title {
          display: block; }
        header .header-content .hide-on-mobile {
          display: none; }
        header .header-content .subtitle {
          display: block; }
      header img {
        top: 20px;
        left: calc(50% - 50px);
        right: calc(50% - 50px); } }
  @media screen and (max-width: 320px) {
    header .header-content a {
      font-size: 15px;
      margin: 0 3px 0 0; } }

body {
  background: rgba(0, 0, 0, 0.03); }

.hidden-on-desktop {
  display: block; }

@media screen and (min-width: 567px) {
  .hidden-on-desktop {
    display: none; } }
.content a {
  color: #333333;
  text-decoration: underline; }
.content img {
  min-width: 100%;
  max-width: 100%; }

.blog-container {
  max-width: 720px;
  font-size: 20px;
  line-height: 30px;
  font-family: 'PT Serif', Georgia, Cambria, 'Times New Roman', Times, serif; }
  .blog-container .content {
    -webkit-font-smoothing: antialiased;
    color: black; }
  .blog-container .jumbotron {
    padding: 25px 25px 10px 25px; }
    .blog-container .jumbotron a {
      text-decoration: underline;
      color: #333333; }
  .blog-container h1, .blog-container h2, .blog-container h3, .blog-container h4, .blog-container h5, .blog-container h6 {
    font-family: "Open Sans";
    font-weight: 600; }
    .blog-container h1:a, .blog-container h2:a, .blog-container h3:a, .blog-container h4:a, .blog-container h5:a, .blog-container h6:a {
      color: black; }
  .blog-container h1 {
    font-size: 36px; }
  .blog-container h2 {
    font-size: 27px; }
  .blog-container .lead {
    font-weight: 600; }
  .blog-container .published {
    font-style: italic; }
  @media screen and (max-width: 767px) {
    .blog-container {
      font-size: 18px;
      line-height: 25px; }
      .blog-container .lead {
        font-size: 18px; }
      .blog-container h1 {
        font-size: 24px; }
      .blog-container h2 {
        font-size: 22px; }
      .blog-container .jumbotron p {
        font-size: 18px; } }

.preview {
  margin-bottom: 50px; }
  .preview a {
    color: #333333;
    text-decoration: none; }
    .preview a:hover {
      text-decoration: underline; }
  .preview h2 {
    margin-bottom: 5px; }
  @media screen and (max-width: 767px) {
    .preview {
      margin-bottom: 25px; } }
  .preview:last-of-type {
    margin-bottom: 0; }

.pager {
  margin: 50px 0 50px;
  color: #888888; }
  .pager a {
    color: #333333;
    text-decoration: none; }
    .pager a:hover {
      text-decoration: underline; }
  .pager .pipe {
    display: inline-block;
    margin: 0 10px 0 10px; }
  @media screen and (max-width: 320px) {
    .pager a {
      font-size: 16px; }
    .pager .pipe {
      margin: 0 5px 0 5px; } }

.post-detail pre {
  border: none;
  border-radius: 0;
  padding: 0; }
.post-detail code {
  display: block;
  border-radius: 0;
  padding: 15px;
  font-size: 15px;
  font-weight: 100;
  overflow: scroll;
  color: #333333;
  background-color: rgba(26, 26, 26, 0.075);
  border-left: solid 1px #333333;
  overflow: auto;
  word-wrap: normal;
  white-space: pre; }
.post-detail ol, .post-detail ul {
  background-color: rgba(26, 26, 26, 0.075);
  border-left: solid 1px #333333;
  padding: 15px;
  margin-bottom: 20px; }
.post-detail li {
  margin-left: 25px;
  margin-bottom: 10px;
  list-style-type: square; }
  .post-detail li:last-of-type {
    margin-bottom: 0; }
.post-detail .lead {
  margin: 15px 0 10px 0; }
.post-detail h1 {
  font-size: 40px; }
.post-detail h2 {
  margin-top: 30px;
  font-size: 22px; }
.post-detail .published + h2 {
  margin-top: 10px; }
.post-detail h3 {
  font-size: 20px;
  margin-top: 30px; }
  .post-detail h3:first-of-type {
    margin-top: 0; }
@media screen and (max-width: 767px) {
  .post-detail .lead {
    font-size: 18px; }
  .post-detail h1 {
    font-size: 28px; }
  .post-detail .lead {
    margin: 10px 0 10px 0; }
  .post-detail .comments {
    margin-top: 25px; } }

.about img {
  margin-bottom: 20px; }
  @media screen and (max-width: 567px) {
    .about img {
      display: none; } }

.archive .date {
  font-style: italic;
  font-size: 14px; }

.contact .col-xs-6 {
  text-align: center; }
.contact img {
  max-width: 100%;
  opacity: 0.85; }
@media screen and (min-width: 768px) {
  .contact a:hover img {
    opacity: 1; } }
.contact .caption {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 15px 0 25px 0; }
.contact .row {
  margin-top: 25px;
  margin-bottom: 15px; }

.page-not-found img {
  max-width: 100%; }
.page-not-found .jumbotron {
  text-align: center; }

/*# sourceMappingURL=bundled.css.map */
