<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Simple Blog Admin</title>
</head>
<body>

{{#if isAuthenticated}}
    <p><a href="{{routes.admin.logout}}">log out</a></p>
{{else}}
    <p>Willkommen!</p>
{{/if}}
    <hr>
    {{{body}}}
</body>
</html>