<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Blog Admin</title>
    <link href="/admin/client/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/client/libraries/flat-ui/dist/css/flat-ui.min.css" rel="stylesheet">
</head>
<body>

{{#if isAuthenticated}}
    <p><a href="{{routes.admin.logout}}">log out</a></p>
{{else}}
    <p>Willkommen!</p>
{{/if}}
    <hr>
    {{{body}}}
    <script src="/admin/client/libraries/jquery/dist/jquery.min.js"></script>
    <script src="/admin/client/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/client/libraries/flat-ui/dist/js/flat-ui.min.js"></script>
</body>
</html>