<form ng-controller="AddPostController as model" name="form" class="jumbotron" novalidate>
    <div class="row">
        <div class="col-md-12">
            <h1>Add a new Blog Post</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="username">Title</label>
            <input ng-model="title"
                   type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   placeholder="The title of your post (required)"
                   required="Please fill in the title of your post.">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <label for="abstract">Abstract</label>
            <textarea ng-model="abstract"
                      class="form-control"
                      rows="3"
                      id="abstract"
                      name="abstract"
                      placeholder="A short abstract of your post (required)"
                      required="Please fill in a short abstract of your post."></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label for="content">Content</label>
            <textarea ng-model="content"
                      class="form-control"
                      rows="20"
                      id="content"
                      name="content"
                      placeholder="The content of your post (required)"
                      required="Please fill in the content of your post."></textarea>
        </div>
        <div class="col-md-6 form-group">
            <label>Preview</label>
            <h1 ng-bind="title"></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <input ng-model="published"
                   type="checkbox"
                   id="published"
                   name="published"
                   checked="checked" />
            <label for="published">Published</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button ng-click="submit()" class="btn btn-lg btn-primary">Save this Blog Post</button>
        </div>
    </div>
</form>

{{#section "pageScripts"}}
<script src="/admin/client/scripts/addPost.js"></script>
{{/section}}
