<form ng-controller="AddPostController as model"
      action="{{routes.admin.addPost}}"
      method="post"
      name="form"
      class="add-post jumbotron"
      novalidate>
    <div class="row">
        <div class="col-md-12">
            <h1>Add a new Blog Post</h1>
            <div ng-show="form.$submitted && form.$invalid" class="alert alert-danger">
                <ul>
                    <li ng-if="form.title.$invalid" ng-messages="form.title.$error" >
                        Please fill in the title of your post.
                    </li>
                    <li ng-if="form.abstract.$invalid" ng-messages="form.abstract.$error">
                        Please fill in a short abstract of your post.
                    </li>
                    <li ng-if="form.content.$invalid" ng-messages="form.content.$error">
                        Please fill in the content of your post.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group"
             ng-class="{ 'has-error': form.$submitted && form.title.$invalid }">
            <label for="username">Title</label>
            <input ng-model="title"
                   type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   placeholder="The title of your post (required)"
                   required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group"
             ng-class="{ 'has-error': form.$submitted && form.abstract.$invalid }">
            <label for="abstract">Abstract</label>
            <textarea ng-model="abstract"
                      class="form-control"
                      rows="3"
                      id="abstract"
                      name="abstract"
                      placeholder="A short abstract of your post (required)"
                      required></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group"
             ng-class="{ 'has-error': form.$submitted && form.content.$invalid }">
            <label for="content">Content</label>
            <textarea ng-model="content"
                      data-provide="markdown"
                      class="form-control"
                      rows="20"
                      id="content"
                      name="content"
                      placeholder="The content of your post (required)"
                      required></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <input ng-model="published"
                   type="checkbox"
                   id="published"
                   name="published" />
            <label for="published">Published</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button ng-click="submit()" class="btn btn-lg btn-primary">Save this Blog Post</button>
        </div>
    </div>
</form>

{{#section "pageStyles"}}
<link href="/admin/client/libraries/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet">
{{/section}}

{{#section "pageScripts"}}
<script src="/admin/client/libraries/markdown-js/dist/markdown.min.js"></script>
<script src="/admin/client/libraries/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="/admin/client/scripts/controllers/addPostController.js"></script>
{{/section}}
