<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin Login</h1>

            {{#if message}}
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-info-sign"></span> {{message}}
                </div>
            {{/if}}
        </div>

        <form action="{{routes.admin.login}}" method="post" class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <label for="username">User name</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your user name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Log me in</button>
        </form>
    </div>
</div>