<div class="jumbotron">
    <h1>{{metadata.blogName}} Admin</h1>

    {{#if message}}
        <p><strong style="color: red">{{message}}</strong></p>
    {{/if}}

    <form action="{{routes.admin.login}}" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In" class="btn btn-lg btn-primary"/>
        </div>
    </form>
</div>
