{{#if message}}
    <div class="alert alert-success">
        <span class="glyphicon glyphicon-thumbs-up"></span> {{message}}
    </div>
{{/if}}

<ul>
{{#each posts}}
    <li>{{this.title}}</li>
{{/each}}
</ul>